footer.footer {
    height: 40px;
    position: sticky;
    bottom: 0px;
    width: 100vw;
    padding: 0px;
    background-color: #FFF;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: black;
}