footer.footer {
    position: fixed;
    justify-self: center;
    bottom: 0px;
    height: 40px;
    width: 100vw;
    padding: 0px;
    background-color: #FFF;
}

footer a {
    text-decoration: none;
    color: black;
}