@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
}

header {
  position: sticky;
  top: 0px;
  background-color: #FFF;
  width: 100vw;
  text-align: center;
}


.form-group {
  display: flex;  
  }

.TodoCard {
  display: flex;  
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 5px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #EBEAED;
  border-radius: 5px;
  opacity: 1;
}

.todoText {
  max-height: 200px;
  overflow-wrap: break-word;
  overflow: hidden;
}

.todoText p {
  margin: 0px;
}

.btnsCard{
  display: flex;
}

.btn {
  margin: 5px 0px 5px 5px;
}

[complete="true"] {
  background-color: #999;
}

[complete="false"] {
  background-color: none;
}


@media(max-width: 600px) {
  .main {
    width: 90vw;
  }
}
